# Ignore node_modules directory
node_modules

# Ignore log files
*.log

# Ignore build directory
dist

# Ignore environment variables file
.env

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore any other files or directories you don't want to include in the Docker image
.git
.gitignore
.vscode